<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Data Science Notebook

## Introduction
This notebook provides an overview of essential data science tools and examples of arithmetic expressions.

## Data Science Languages
- Python
- R
- SQL
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- ggplot2

## Data Science Tools
| Tool        | Description                         |
|-------------|-------------------------------------|
| Jupyter     | Interactive computing environment   |
| RStudio     | IDE for R programming               |
| Apache Spark| Big data processing framework       |

## Arithmetic Expression Examples
Below are examples of simple arithmetic expressions, including multiplication and addition.

In [ ]:
# Multiply two numbers
result = 3 * 4

# Add two numbers
sum_result = 5 + 7

result, sum_result

In [ ]:
minutes = 120
hours = minutes / 60

hours

## Objectives
- Understand common data science tools and libraries
- Learn basic arithmetic expressions
- Convert time from minutes to hours

## Author
Qiaoying (Annie) Zhang